@media  (max-width: 939px) {
    .portfolio{
        @include adaptive(1.5rem 0.625rem 0.9375rem);

        &_item {
            width: (100% - $pf-indent * 4)/2 ; // 47.8723404255 (100-4*1.06382978723)/2
            margin: 0 $pf-indent $pf-indent * 2;
        }
    }
}

// disable media 640px for better view
@media (max-width: 640px) {
    .portfolio_item {
            width: (100% - $pf-indent * 2);
            margin: 0 0.625rem $pf-indent * 6;
    }

    .button {
        font-size: 11px;
    }
}
