@media (max-width: 939px) {
    .footer {
        &_background {
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
    }
}

@media (max-width: 640px) {
    .footer {
        &_background {
        flex-direction: column;
        }

        &_title {
            margin-bottom: 1.9rem;
        }
    }
}