@media (max-width: 939px) {

    .about_us {
        @include adaptive;

        &_list {
            flex-direction: column;
        }

        &_social_list{
            justify-content: center;
        }
        
        &_item {
            margin: 2rem auto 0;
            text-align: center;
        }
    }
}

