.services {
    @include background(#f2f2f2, #ffffff, 4.0625rem 0 1.625rem);

    &_background {
        @include site_width;
    }

    &_title {
        @include font ($fontcolor, 'Lato_Black', 30px);
    }

    &_description {
        @include font (#767e9e, 'Lato_Light', 18px);
        margin: 1.5rem 0 3.125rem;
        line-height: 1.7rem;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_item {
        width: 18.75rem;
        display: flex;
        margin-bottom: 2.5rem;

        &_title {
            @include font ($fontcolor, 'Lato_Black', 18px);
            margin-bottom: 0.3rem;
        }

        &_description {
            color: #767e9e;
            font-size: 12px;
            line-height: 1.3rem;
            text-align: justify;
        }
    }

    &_icon {
        color: $fontcolor;
        display: block;
        border: 1px solid $fontcolor;
        border-radius: 50%;
        padding: 0.75rem;
        font-size: 32px;
        text-align: center;
        margin-right: 1.25rem;
    }
}
